.CategoryExampleLine__wrapper {
  box-sizing: content-box;
  background-color: #ebe3cc;
  padding: 34px 0;
  position: relative;
  z-index: 10;
  margin-top: 50px;
}

.CategoryExampleLine {
  max-width: 1200px;
  margin: auto;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  gap: 8px;
}
