.CategoryExampleLine__wrapper {
  box-sizing: content-box;
  background-color: #ed5c01;
  height: 306px;
  padding: 34px 0;

  position: relative;
  z-index: 10;

  margin-top: 50px;
}
.CategoryExampleLine {
}
