* {
  margin: 0;
  padding: 0;
  user-select: none;
  color: #062d3e;
}

a,
a:visited,
p {
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

:root {
  font-family: "Josefin Sans", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  background-color: #ebe3cc;
}

body {
  background-color: #ebe3cc;
}
